.healty {
  color: black;
  font-size: 20px;
  line-height: 1.5em;
  position: relative; }
  .healty:before {
    content: "";
    display: block;
    background-image: url("../img/healt.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    height: 100%;
    position: absolute;
    z-index: -5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .5; }

.healty2 {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  .healty2 p {
    background-color: rgba(119, 119, 119, 0.5); }
    .healty2 p span {
      font-size: 25px; }

.shortInfo {
  color: #777;
  background-color: white;
  padding: 40px 15px 0px 15px;
  text-align: justify; }
  .shortInfo h3, .shortInfo h4 {
    text-align: center; }
  .shortInfo ol {
    margin-left: 35px; }
    .shortInfo ol li {
      padding: 5px 0; }

.omegaBg, .studyBg, .chsBg {
  opacity: 0.7;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px; }

.omegaBg {
  background-image: url("../img/omega.jpg");
  height: 450px; }

.studyBg {
  background-image: url("../img/badania.jpg");
  height: 140px;
  background-size: contain; }

.chsBg {
  background-image: url("../img/chs.jpg");
  height: 600px; }

.container {
  max-width: 1200px;
  margin: 0 auto 45px auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .container h2 {
    text-align: center; }
  .container p, .container ul, .container h3 {
    padding: 0 15px; }
  .container p {
    line-height: 1.75em;
    text-indent: 50px; }

.readTxt {
  width: 100%;
  max-width: 750px;
  margin: 0 auto; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }


